body {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  h1{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
  }
  .display {
    
    width: 220px;
    height: 50px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: left;
    position: relative;
  }

  #inputField{
    position: relative;
    top: -5px;
    left: -10px;
    width:50%;
    z-index: 2;
    color: #454545;
  }
  #resultField{
    position: relative;
    top: -10px;
    left: -5px;
    width:99%;
    height: 70%;
    font-size: 20px;
  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  .button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ccc;
  }
  
  .button.operator {
    background-color: #4CAF50;
    color: white;
  }
  
  .button.operator:hover {
    background-color: #45a049;
  }
  
  .button.clear {
    width: 50px;

    background-color: #f44336;
    color: white;
  }
  
  .button.clear:hover {
    background-color: #d32f2f;
  }

  .button.answer {
    background-color: #565656;
    color: white;
  }
  
  .button.answer:hover {
    background-color: #454545;
  }